{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
{{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</div>
{{ form_end(form) }}
#}

{% block stylesheets %}

    <style> 



        .form-control {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .form-control:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }

    </style>

{% endblock stylesheets   %}
<!-- START PAGE CONTENT WRAPPER -->
{#<div class="page-content-wrapper">
    <!-- START PAGE CONTENT -->
    <div class="content sm-gutter">
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid padding-25 sm-padding-10" style="font-size: 15px;">
            <div class="row row-eq-height" style="padding-bottom: 5px;">
                <div class="col-md-6" style="font-size: 20px;">
                    <div style="padding: 15px;  min-height: 50px; background-color: rgba(86,61,124,.15);;">
                        <div class="col-xs-12 col-md-8"><i class="pg-form"></i> Modification d'utlisateur  </div>
                    </div>
                </div>
            </div>


            <div class="row row-eq-height" style="padding-bottom: 5px;">
                <br/>
            </div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default bg-theme1-lighter">
                        <div class="panel-body">
                            <br/>
                            <div class="form-group">
                                <label>Nom Utilisateur </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.username)}}</span></label>
                                    {{ form_widget(form.username, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Email </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.email)}}</span></label>
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Password </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.current_password)}}</span></label>
                                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Nom </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.nom)}}</span></label>
                                    {{ form_widget(form.nom, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Prenom </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.prenom)}}</span></label>
                                    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Adresse </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.adresse)}}</span></label>
                                    {{ form_widget(form.adresse, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Telephone </label>
                                <label><span style="color: #f68484!important">{{form_errors(form.telephone)}}</span></label>
                                    {{ form_widget(form.telephone, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wizard-footer bg-master-light">
                    <div class="col-md-6 col-md-offset-4">
                        <button class="btn btn-info btn-cons btn-animated from-left fa fa-plus" type="submit">
                            <span class="bold">Modifier</span></button>
                        </button>
                        <a class="btn btn-info btn-cons btn-animated from-left fa fa-reply" href="{{ 'profile.edit.submit'|trans }}">
                            <span class="bold">Annuler</span>
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END CONTAINER FLUID -->
    </div>
    <!-- END CONTAINER FLUID -->
</div>
#}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: rgba(86,61,124,.15);">Modifier vos Informations Personneles</div>
            <div class="panel-body">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                <div class="col-md-6">


                    {#c'est ici ou je vais mettre la photo #}

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Nom Utilisateur </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.username)}}</span></label>
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Email </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.email)}}</span></label>
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Password </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.current_password)}}</span></label>
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Nom </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.nom)}}</span></label>
                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Prenom </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.prenom)}}</span></label>
                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Adresse </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.adresse)}}</span></label>
                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Telephone </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.telephone)}}</span></label>
                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control ui-autocomplete-input'} }) }}
                    </div>

                </div>  
                <div class="wizard-footer bg-master-light">
                    <div class="">
                        <button class="btn btn-info btn-cons btn-animated pull-right fa fa-plus" type="submit">
                            <span class="bold">Modifier</span></button>
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div><!-- /.pannel-->
    </div><!-- /.col-->

</div><!-- /.row -->
