<div class="row koko">
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">
                <span>Details Sur <b>{{ user.nom }} {{ user.prenom }}</b></span>
                <i  style="color: #3c8dbc;" class="pull-right fa  fa-close fa-lg"></i>
            </div>

            <div class="panel-body">

                <div class="col-md-4">
                    <fieldset>
                        <legend>Photo </legend>
                        <div id="myImage" class="image">
                            <img src="{{ asset('dist/img/myUser.png') }}" class=" img-responsive" alt="User Image">
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-8">
                    <div class="row"> 
                        <div class="col-md-5 form-group">
                            <label>Prenom </label>
                            <label class="form-control" > {{ user.prenom  }} </label>
                        </div>
                        <div class="form-group col-md-7">
                            <label>Nom </label>
                            <label class="form-control"> {{ user.prenom  }} </label>
                        </div>

                    </div>
                    {#<div class="row"> 
                        <div class="col-md-5 form-group">
                            <label>Date d'ambauche </label>
                            <label class="form-control">{{ user.dateEmbauche }}</label>
                        </div>
                        <div class="col-md-7 form-group">
                            <label>Fonction </label>
                            <label class="form-control" >{{ user.fonction }}</label>
                        </div>
                    </div>#}

                    <div class="row"> 
                        <div class="col-md-5 form-group">
                            <label>Telephone </label>
                            <label class="form-control" > {{ user.telephone  }} </label>
                        </div>
                        <div class="col-md-7 form-group">
                            <label>Email </label>
                            <label class="form-control" > {{ user.email  }} </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Adresse </label>
                        <label class="form-control" >{{ user.adresse  }}</label>
                    </div>

                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->
    </div><!-- /.col-->
</div><!-- /.col-->

