{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
#}

{% block stylesheets  %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }


    </style>
{% endblock %}

<!-- le navbar de parametrage -->
<div>
    <br/>
</div>
<nav class=" col-md-10 col-md-offset-1 navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="font-family: 'Times New Roman' ; font-size: 25px ; font-weight: bold;" class="navbar-brand " href="#">Utisateurs</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('fos_user_registration_register') }}">Ajouter </a></li>
            <li><a href="{{ path('list_of_user') }}">Liste</a></li>
        </ul>
    </div>
</nav>

<!-- pannel d'ajout d'utilisateur  -->
<div  class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">

        <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouveau Utilisateur </div>
        <div class="panel-body ">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}        

            <div class="row col-md-10 col-md-offset-1">
                <div class="col-md-4 form-group ">
                    <label> Prenom  (*) </label>
                    <label><span style="color: #f68484!important">{{form_errors(form.prenom)}}</span></label>
                        {{ form_widget(form.prenom , { 'attr': {'class': 'form-control input' }  }) }}
                </div>

                <div class="col-md-5 form-group ">
                    <label> Nom   (*)</label>
                    <label><span style="color: #f68484!important">{{form_errors(form.nom)}}</span></label>
                        {{ form_widget(form.nom , { 'attr': {'class': 'form-control  input' }  }) }}
                </div>
                <div class="col-md-3 form-group ">
                    <label>Telephone  </label>
                    <label><span style="color: #f68484!important">{{form_errors(form.telephone)}}</span></label>
                        {{ form_widget(form.telephone , { 'attr': {'class': 'form-control input' }  }) }}
                </div>
            </div>
            <div class="row col-md-10 col-md-offset-1">
                <div class="col-md-4 form-group ">
                    <label>Email (*) </label>
                    <label><span style="color: #f68484!important">{{form_errors(form.email)}}</span></label>
                        {{ form_widget(form.email , { 'attr': {'class': 'form-control input' }  }) }}
                </div>
                <div class="col-md-5 form-group ">
                    <label>Adresse   </label>
                    <label><span style="color: #f68484!important">{{form_errors(form.adresse)}}</span></label>
                        {{ form_widget(form.adresse , { 'attr': {'class': 'form-control input' }  }) }}
                </div>
                <div class="col-md-3 form-group ">
                    <label>Date Embauche </label>
                    <label><span style="color: #f68484!important">{{form_errors(form.dateEmbauche)}}</span></label>
                        {{ form_widget(form.dateEmbauche , { 'attr': {'class': 'form-control input' }  }) }}
                </div>
            </div>

            <div class="row col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label>Description   </label>
                    <label><span style="color: #f68484!important">{{form_errors(form.commentaire)}}</span></label>
                        {{ form_widget(form.commentaire , { 'attr': {'class': 'form-control input' }  }) }}
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <label>  </label>
                <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div><!-- /.pannel-->
</div><!-- /.col-->
