{% extends '::base.html.twig' %}


{% block content %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }


    </style>

    <!-- le navbar de parametrage -->
    <div>
        <br/>
    </div>
    <nav class=" col-md-10 col-md-offset-1 navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="font-family: 'Times New Roman' ; font-size: 25px ; font-weight: bold;" class="navbar-brand " href="#">Parametrage </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('analyse_new') }}">Analyses</a></li>
                <li><a href="{{ path('categorie_new') }}">Categories</a></li>
                <li><a  href="{{ path('test_new') }}">Tests</a></li>
            </ul>
        </div>
    </nav>


    <!-- pannel  de recherche -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Rechercher Des Analyses</div>
                <div class="panel-body ">
                    <form method="post"  action=""  >              
                        <div class="col-md-10 row col-md-offset-1">

                            <div class="form-group col-md-4">
                                <label>Code d'Analyse </label>
                                <input class="form-control input" placeholder="Code ">
                            </div>
                            <div class="form-group col-md-5">
                                <label>Libelle  </label>
                                <input class="form-control input" placeholder="Libelle">
                            </div>
                            <div class=" form-group col-md-3">
                                <label>  </label>
                                <button type="submit" class=" form-control btn btn-primary">Rechercher</button>
                            </div>

                        </div>  

                    </form>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div><!-- /.row -->


    <div class="row">
        <!-- pannel d'ajout  d'analyses --> 
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouvelle Analyse</div>
                <div class="panel-body ">
                    {{ form_start(form) }}           

                    <div class="form-group ">
                        <label>Code d'Analyse </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.code)}}</span></label>
                            {{ form_widget(form.code , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>

                    <div class="form-group ">
                        <label>Libelle  </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.nom)}}</span></label>
                            {{ form_widget(form.nom , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>

                    <div class="form-group ">
                        <label>Prix  </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.prix)}}</span></label>
                            {{ form_widget(form.prix , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>
                    <div class="form-group ">
                        <label>Mode Operatoire</label>
                        <label><span style="color: #f68484!important">{{form_errors(form.description)}}</span></label>
                            {{ form_widget(form.description , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>

                    <div class=" col-md-offset-2 form-group row  ">
                        <div class="col-md-6">
                            <label>  </label>
                            <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
                        </div>
                        <div class="col-md-6" >
                            <label>  </label>
                            <button  class=" form-control btn btn-danger ">Annuler</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

        <!-- pannel d'affchage d'analyses --> 
        <div class="col-md-6 ">
            <div style="height: 484px ; " class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouvelle Analyse</div>
                <div class="panel-body " style="overflow: scroll ; height: 456px;">

                    <table  id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Libelle</th>
                                <th>Mode</th>
                                <th>Prix</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for analyse in analyses %}
                                <tr>
                                    <td>{{ analyse.code }}</td>
                                    <td>{{ analyse.nom }}</td>
                                    <td>{{ analyse.description }}</td>
                                    <td>{{ analyse.prix }}</td>
                                    <td>  
                                        <a href=""  style="color : red ; " class="koko fa fa-trash">     </a>
                                        <a href="" style="color : green ; " class="fa  fa-pencil-square">     </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div><!-- /.row -->

{% endblock content %}


{% block javascripts  %} 

    <script>
        $(document).ready(function () {
           
                $(".koko").click(function () {
                    alert("The paragraph was clicked.");
                });
                $('#myTable').dataTable();

            });
    </script>
{% endblock %}
