{% extends '::base.html.twig' %}


{% block content %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }
        .row{
            margin-left: 20px;
        }

        #panelAjout{
            margin-left: 5px !important;
        }


    </style>


    <div>
        <br/>
        <br/>
    </div>






    <div class="row">



        <div class="col-md-11 ">
            <div class="panel panel-default">
                <div class="">
                    <div class="">

                        <ol class="breadcrumb">
                            <li>
                                <a href="{{path('traitementDmD',{'id':echantillon.DemandeAnalyse.id})}}">
                                    échantillonnage </a>
                            </li>
                            <li>
                                <a>Echantillon :{{echantillon.reference}}</a>
                            </li>
                            <li class="active">
                                <strong>Ajouter Echantillon Item</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="panel-heading" style=" margin-left: 630px;font-family: 'Times New Roman' ; font-size: 15px ;">
                        Demande de  <b> {{echantillon.DemandeAnalyse.client.nom}}</b>
                        &nbsp; <b>{{echantillon.DemandeAnalyse.client.prenom}}</b> à <b>{{echantillon.DemandeAnalyse.date}}</b>

                        <br>
                        <br>



                    </div>

                </div>       




                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-1">
                        <form method="post"  action="{{path('addItem',{'id':echantillon.id})}}" >  

                            <div class="form-group ">

                                <label><span style="color: gray!important">Réference :</span></label>
                                <input type="text" class="form-control" name="ref">

                            </div>
                            <div class="form-group ">

                                <label><span style="color: gray!important">Date :</span></label>
                                <input type="Date" class="form-control" name="date">
                            </div>

                            <div class="form-group ">

                                <label><span style="color: gray!important">Description :</span></label>
                                <textarea name="Description" class="form-control"  placeholder="Description">
                            
                                </textarea>

                            </div>
                            <div class="form-group ">
                                {% for a in echantillon.echantillonHasAnalyses %}

                                    <label> 
                                        <u>Anlayse Numéro {{loop.index}} :</u> {{a.analyse.code}}  : {{a.analyse.nom}}    
                                    </label> 
                                    <br>
                                    {% for i in a.analyse.categories %}
                                        <label> 
                                            &nbsp&nbsp&nbsp&nbsp&nbsp<input type="checkbox"  value="{{i.id}}">{{i.libelle}}
                                        </label><br>
                                        {% for j in i.tests %}
                                            <label> 
                                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                <input type="checkbox" name="delete[]" value="{{j.id}}">
                                                <a   data-toggle="modal"
                                                   onclick="load({{ j.id }})"
                                                   href="#{{ j.id }}">{{j.libelle}}</a>
                                            </label><br>



                                        {% endfor %}


                                        <br>
                                    {% endfor %}
                                    <br>

                                {% endfor %}

                            </div>



                            <div class="hr-line-dashed">

                            </div>


                            <div class=" col-md-offset-2 form-group row  ">
                                <div class="col-md-6">
                                    <label>  </label>
                                    <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

        {% for a in echantillon.echantillonHasAnalyses %}

            {% for i in a.analyse.categories %}

                {% for j in i.tests %}
                    <div style="display: none;" class="modal inmodal" tabindex="-1" id="{{ j.id }}" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">

                                <div class="modal-header">
                                    <h4> <u>Mode Opératoire:</u> &nbsp; {{ j.libelle }}&nbsp;:&nbsp;<br>

                                    </h4>
                                    <hr>
                                    <p>{{ j.commentaire }}</p>
                                </div>

                            </div>
                        </div>

                    </div>


                {%endfor%}
        {%endfor%}
        {%endfor%}
















    </div>  









    <!-- fin de partie --> 
{% endblock content %}

{% block javascripts  %} 

    <script>




    </script>
{% endblock %}
