{% extends '::base.html.twig' %}
{% block content %}
    <style>
        th{
            font-size: 13px !important;
        }
        td{
            font-size: 11.55px !important;
        }
        .im:hover, .im:active{
            transform: scale(1.2);
            box-shadow: 0 0 40px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
            transition: all 0.3s ease-in;
        }

    </style>

    <div>
        <br/>
    </div>
    <div class="row">
        <!-- pannel d'affchage d'analyses --> 
        <div id="pannelList" class="col-md-10 col-md-offset-1 ">
            <div style="height: 514px ; " class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">
                    <span>Liste des  demandes D'analyses:</span>
                </div>
                <div class="panel-body " >

                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Client(demandeur)</th>
                                <th>Date de Reception  </th>
                                <th>Priorité</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dmd in demandes %}
                                <tr class="gradeX">
                                    <td>{{loop.index}}</td>
                                    <td class="center">{{dmd.client.nom}} &nbsp; &nbsp;{{dmd.client.prenom}} </td>
                                    <td class="center">{{dmd.date}}</td>
                                    <td class="center">Lorem ipsum </td>
                                    <td class="center">{{dmd.commentaire}} </td> 
                                    <td>
                                        <a class="btn btn-primary" href="{{path('traitementDmD',{'id':dmd.id})}}">
                                            <i class="fa fa-angle-double-right"></i> &nbsp;&nbsp;Traitement
                                        </a>
                                    </td>    
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->
    </div>
{%endblock%}

{% block javascripts %}             



    <script>

        $(document).ready(function () {


            $('#myTable').dataTable({
               
                "dom": '<"top"lif>rt<"bottom"p><"clear">',
                "language": {
                    "sProcessing": "Traitement en cours...",
                    "sSearch": "Rechercher&nbsp;:",
                    "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Pr&eacute;c&eacute;dent",
                        "sNext": "Suivant",
                        "sLast": "Dernier"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }

            });

        });

   


    </script>
{% endblock %}  
