{% extends '::base.html.twig' %}


{% block content %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }
        .row{
            margin-left: 20px;
        }

        #panelAjout{
            margin-left: 5px !important;
        }


    </style>


    <div>
        <br/>
        <br/>
    </div>






    <div class="row">

        <div class="col-md-11 ">
            <div class="panel panel-default">


                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">
                    <span> Demande de {{demande.client.nom}}&nbsp;&nbsp; {{demande.client.prenom}}&nbsp; à&nbsp;{{demande.date}} <br>
                        <center><b>Liste des Echantillons</b></center>  </span>
                    <i  style="color: #3c8dbc;" class="pull-right fa  fa-plus-square fa-lg"></i>
                </div>

                <div class="panel-body ">
                    <a  href="{{path('ResultaIndex',{'id':demande.id})}}" 
                        id="eval"  class="btn btn-w-m btn-primary">L'avancement du demande :</a>
                    <a  href="#" 
                        id="eval"  class="btn btn-w-m btn-danger">Supprimer La demande </a>


                    <div id="panelAjout" class="col-md-5 col-md-offset-1">
                        <div class="panel panel-default">

                            <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouvel échantillon</div>
                            <div class="panel-body ">
                                <form method="post"  action="{{path('AddEchantillonL',{'id':demande.id})}}" >  

                                    <div class="form-group ">

                                        <label><span style="color: gray!important">Réference :</span></label>
                                        <input type="text" class="form-control" name="ref">

                                    </div>

                                    <div class="form-group ">

                                        <label><span style="color: gray!important">Date :</span></label>
                                        <input type="Date" class="form-control" name="date">



                                    </div>

                                    <div class="form-group ">

                                        <label><span style="color: gray!important">La forme (type) :</span></label>
                                        <select name="forme" class="form-control" style="width:60%;  ">
                                            <option>Choisir un type</option>
                                            {% for l in types%}
                                                <option value="{{l.id}}" >{{l.libelle}}</option>;
                                            {% endfor%}
                                        </select>

                                    </div>
                                    <div class="form-group ">

                                        <label><span style="color: gray!important">Description :</span></label>
                                        <textarea name="Description" class="form-control"  placeholder="Description">
                            
                                        </textarea>

                                    </div>

                                    <div class="hr-line-dashed">

                                    </div>
                                    <div class="form-group">
                                        <label><span style="color: gray!important">Préciser des Analyses :</span></label>
                                        <div class="col-sm-10">
                                            {% for a in analyses %}

                                                <label> 

                                                    <input type="checkbox" name="delete[]" value="{{a.id}}">
                                                    {{a.code}}<b>:</b> {{a.nom}}</label>

                                                <hr>
                                            {% endfor %}


                                        </div>


                                    </div> 

                                    <div class=" col-md-offset-2 form-group row  ">
                                        <div class="col-md-6">
                                            <label>  </label>
                                            <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
                                        </div>

                                    </div>
                                </form>
                                <div style="    margin-top: -69PX; margin-left: 177px;" class="col-md-6" >
                                    <label>  </label>
                                    <button id="btnAnnuler"  class=" form-control btn btn-danger ">Annuler</button>
                                </div>


                            </div>
                        </div>
                    </div>           


                    <br><br><br> 
                    <div id="pannelList" class="col-md-6 ">     
                        <table id="myTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Réference</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in demande.Echantillons %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{ i.reference }}</td>
                                        <td>{{ i.date|date('Y-m-d') }}</td>
                                        <td>{{ i.typeEchantillon.libelle }}</td>

                                        <td>{{ i.commentaire }}</td>
                                        <td> 
                                            <a href="#" title="modifier" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" title="Supprimer" class="table-link danger">
                                                <span style="color :red ; " class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a  title="Analyses demandés" class="table-link danger" data-toggle="modal"
                                                onclick="load({{ i.id }})"
                                                href="#{{ i.id }}" style="color:gray">
                                                <span style="" class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-forward fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a  title="Analyses demandés" class="table-link danger"
                                                href="{{path('EchantillonItem',{'id':i.id})}}" style="color:gray">
                                                <span style="" class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-eyedropper fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>


                    </div>






                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->



        {% for  i in demande.Echantillons %}
            <div style="display: none;" class="modal inmodal" tabindex="-1" id="{{ i.id }}" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">

                        <div class="modal-header">
                            <h4> Réference d'échantillon: &nbsp; {{ i.reference }}</h4>
                            <hr>
                            <h3> Les Analyses demandés :</h3>
                            {% for  m in i.echantillonHasAnalyses %}
                                <h4 style="display: inline-block"> <u> {{ m.analyse.code }} :</u></i></h4>
                                <h5 style="display: inline-block">  {{ m.analyse.nom }} :</h5><br>


                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>

        {%endfor%}


        <!-- partie d'echantillon itemms -->

        {#      <div id="panelAjoutEchantItems" class="col-md-10 col-md-offset-1">
                  {% for  i in demande.Echantillons %}
                  <div class="panel panel-default">
    
                      <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouvel échantillon</div>
                      <div class="panel-body ">
                          <form method="post"  action="{{path('AddEchantillonL',{'id':demande.id})}}" >  
    
                              <div class=" col-md-offset-2 form-group row  ">
                                  <div class="col-md-6">
                                      <label>  </label>
                                      <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
                                  </div>
                                  <div class="col-md-6" >
                                      <label>  </label>
                                      <button  id="btnAnnuler"  class=" form-control btn btn-danger ">Annuler</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                    {% endfor %}                 
              </div> #}












    </div>  









    <!-- fin de partie --> 
{% endblock content %}

{% block javascripts  %} 

    <script>

        $(window).load(function () {
            $('#panelAjout').hide();
        });
        $(document).ready(function () {

            $('.fa-plus-square').tooltipster({
                contentAsHTML: true,
                animation: 'fade',
                content: $('<p>Nouvel Echantillon</p>'),
                delay: 200,
                interactive: true

            });

            $('#panelAjout').hide();
            $("#pannelList").removeClass("col-md-6").addClass("col-md-10");
            $("#pannelList").addClass("col-md-offset-1");

            $('#myTable').dataTable({
                "ordering": false,
                "info": false,
                "dom": '<"toolbar">frtip'


            });
            $("div.toolbar").html('');
            $('.select2').select2();

            $('#btnAnnuler').click(function () {

                $('#panelAjout').hide();
                $("#pannelList").removeClass("col-md-6").addClass("col-md-10");
                $("#pannelList").addClass("col-md-offset-1");
            });

            $('.fa-plus-square').click(function () {

                $('#panelAjout').show();
                $("#pannelList").removeClass("col-md-10").addClass("col-md-6");
                $("#pannelList").removeClass("col-md-offset-1");
            });


            $(window).load(function () {
                $('#panelAjoutEchantItems').hide();

                $('.fa-eyedropper').click(function () {

                    $('#panelAjoutEchantItems').show();
                    //$("#pannelList").removeClass("col-md-10").addClass("col-md-6");
                    //$("#pannelList").removeClass("col-md-offset-1");
                });



            });





        });


    </script>
{% endblock %}
