{% extends '::base.html.twig' %}


{% block content %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }
        .row{
            margin-left: 50px;
        }
        #add{
            margin-left: 870px;
        }

    </style>

 
    <div>
        <br/>
        <br/>
    </div>
   


   


    <div class="row">
       

    
        <div class="col-md-11 ">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">
                    La liste des échantillons concernant la demande de client <b> {{demande.client.nom}}</b>
                    &nbsp; <b>{{demande.client.prenom}}</b> à <b>{{demande.date}}</b>
                </div>
                <div class="panel-body ">
                    <a id="add" class="btn btn-primary" href="{{path('traitementDmD',{'id':demande.id})}}">
                                        <i class="fa fa-plus-square"></i> &nbsp;&nbsp;Ajouter 
                                      </a>
                                        
                              <br><br><br>          
                    <table id="koko" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Réference</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in demande.Echantillons %}
                                <tr>
                                   <td>{{loop.index}}</td>
                                    <td>{{ i.reference }}</td>
                                    <td>{{ i.date|date('Y-m-d') }}</td>
                                    <td>{{ i.typeEchantillon.libelle }}</td>
                                    
                                    <td>{{ i.commentaire }}</td>
                                    <td>  
                                        <a href="" title="Supprimer" style="color : gray ; " class="fa fa-trash">     </a>
                                        <a href="" title="Modifier" style="color : gray ; " class="fa  fa-pencil-square">     </a>
                                        <a  title="Analyses demandés" data-toggle="modal"
                                                       onclick="load({{ i.id }})"
                                                       href="#{{ i.id }}" style="color:gray" class="fa  fa-forward">     </a>
                                        <a href="" title="les items de cette échantillon" style="color:gray" class="fa  fa-eyedropper">     </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                        
                        
                        
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div>
                        
                            {% for  i in demande.Echantillons %}
        <div style="display: none;" class="modal inmodal" tabindex="-1" id="{{ i.id }}" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">

                    <div class="modal-header">
                        <h4> Réference d'échantillon: &nbsp; {{ i.reference }}</h4>
                        <hr>
                        <h3> Les Analyses demandés :</h3>
                        
                        Analyse 1 
                        Analyse 2 
                        Analyse 3 
                        Analyse 4 
                        
                        
                    </div>
                    
                </div>
                    
             </div>
         </div>
                    
                    {%endfor%}
                        
                        
                        <!-- /.row -->

{% endblock content %}
