{% extends '::base.html.twig' %}


{% block content %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }
        .nav-item{
            border: 1px solid black ;
        }


    </style>


    <div>
        <br/>
    </div>
    <!-- navbar de parametrage  -->
    <nav class=" col-md-10 col-md-offset-1 navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="font-family: 'Times New Roman' ; font-size: 25px ; font-weight: bold;" class="navbar-brand " href="#">Parametrage </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('analyse_new') }}">Analyses</a></li>
                <li><a href="{{ path('categorie_new') }}">Categories</a></li>
                <li class="active"><a  href="{{ path('test_new') }}">Tests</a></li>
            </ul>
        </div>
    </nav>


    <!-- pannel  de recherche -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Rechercher Des Tests</div>
                <div class="panel-body ">
                    <form method="post"  action=""  >              
                        <div class="col-md-10 row col-md-offset-1">

                            <div class="form-group col-md-3">
                                <label>Libelle</label>
                                <input class="form-control input" placeholder="Libelle ">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Analyse</label>
                                <select class="form-control input">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label>Categorie</label>
                                <select class="form-control input">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                            </div>

                            <div class=" form-group col-md-3">
                                <label>  </label>
                                <button type="submit" class=" form-control btn btn-primary">Rechercher</button>
                            </div>

                        </div>  

                    </form>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div><!-- /.row -->


    <div class="row">
        <!-- pannel d'ajout  d'analyses --> 
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouveau Test </div>
                <div class="panel-body ">
                    {{ form_start(form) }}           


                    <div class="form-group ">
                        <label>Libelle  </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.libelle)}}</span></label>
                            {{ form_widget(form.libelle , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>

                    <div class="form-group ">
                        <label>Categorie  </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.categorie)}}</span></label>
                            {{ form_widget(form.categorie , { 'attr': {'class': 'form-control select2' }  }) }}
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <label>Unite de Mesure  </label>
                            <label><span style="color: #f68484!important">{{form_errors(form.uniteMesure)}}</span></label>
                                {{ form_widget(form.uniteMesure , { 'attr': {'class': 'form-control select2' }  }) }}
                        </div>

                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label>Valeur Min</label>
                            <label><span style="color: #f68484!important">{{form_errors(form.valeurMin)}}</span></label>
                                {{ form_widget(form.valeurMin , { 'attr': {'class': 'form-control input' }  }) }}
                        </div>
                        <div class="form-group col-md-5">
                            <label>Valeur Max </label>
                            <label><span style="color: #f68484!important">{{form_errors(form.valeurMax)}}</span></label>
                                {{ form_widget(form.valeurMax , { 'attr': {'class': 'form-control input' }  }) }}
                        </div>
                    </div>


                    <div class="form-group ">
                        <label>Description </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.commentaire)}}</span></label>
                            {{ form_widget(form.commentaire , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>


                    <div class=" col-md-offset-2 form-group row  ">
                        <div class="col-md-6">
                            <label>  </label>
                            <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
                        </div>
                        <div class="col-md-6" >
                            <label>  </label>
                            <button  class=" form-control btn btn-danger ">Annuler</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

        <!-- pannel d'affchage d'analyses --> 
        <div class="col-md-6 ">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">listes des Tests</div>
                <div class="panel-body ">

                    <table  class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Categorie</th>
                                <th>Norme</th>
                                <th>Unite_Mesure</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in tests %}
                                <tr>
                                    <td>{{ test.libelle }}</td>
                                    <td>{{ test.categorie }}</td>
                                    <td>[ {{ test.valeurMin }} , {{ test.valeurMax }} ] </td>
                                    <td>{{ test.uniteMesure }}</td>
                                    <td>{{ test.commentaire }}</td>
                                    <td> 
                                        <a href=""  style="color : red ; " class="fa fa-trash">     </a>
                                        <a href="" style="color : green ; " class="fa  fa-pencil-square">     </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div><!-- /.row -->

{% endblock content %}
