{% extends '::base.html.twig' %}


{% block content %}


    <style> 
        .input {
            border: 1px solid #eee;
            box-shadow: none;
            border-radius: 7px ; 
            font-family : inherit;
            font-size   : 100%;
            padding: 10px;

            box-shadow: inset 1px 1px 1px 0 #707070;
            transition: box-shadow 0.3s;

        }

        .input:focus {
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
            font-family : inherit;
            font-size   : 100%;
        }


    </style>


    <div>
        <br/>
    </div>
    <!-- navbar  de parametrage  -->
    <nav class=" col-md-10 col-md-offset-1 navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="font-family: 'Times New Roman' ; font-size: 25px ; font-weight: bold;" class="navbar-brand " href="#">Parametrage </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('analyse_new') }}">Analyses</a></li>
                <li class="active"><a href="{{ path('categorie_new') }}">Categories</a></li>
                <li ><a  href="{{ path('test_new') }}">Tests</a></li>
            </ul>
        </div>
    </nav>

    <!-- pannel  de recherche -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Rechercher Des Categories d'Analyses</div>
                <div class="panel-body ">
                    <form method="post"  action=""  >              
                        <div class="col-md-10 row col-md-offset-1">

                            <div class="form-group col-md-4">
                                <label>Libelle</label>
                                <input class="form-control input" placeholder="Code ">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Analyse</label>
                                <select class="form-control  select2">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                            </div>

                            <div class=" form-group col-md-3">
                                <label>  </label>
                                <button type="submit" class=" form-control btn btn-primary">Rechercher</button>
                            </div>

                        </div>  

                    </form>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div><!-- /.row -->


    <div class="row">
        <!-- pannel d'ajout  d'analyses --> 
        <div id="panelAjout" class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;">Nouvelle Categorie d'Analyse</div>
                <div class="panel-body ">
                    {{ form_start(form) }}           


                    <div class="form-group ">
                        <label>Libelle  </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.libelle)}}</span></label>
                            {{ form_widget(form.libelle , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>

                    <div class="form-group ">
                        <label>Analyse  </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.analyse)}}</span></label>
                            {{ form_widget(form.analyse , { 'attr': {'class': 'form-control  select2' }  }) }}
                    </div>


                    <div class="form-group ">
                        <label>Description </label>
                        <label><span style="color: #f68484!important">{{form_errors(form.commentaire)}}</span></label>
                            {{ form_widget(form.commentaire , { 'attr': {'class': 'form-control input' }  }) }}
                    </div>


                    <div class=" col-md-offset-2 form-group row  ">
                        <div class="col-md-6">
                            <label>  </label>
                            <button type="submit" class=" form-control btn btn-primary">Ajouter</button>
                        </div>
                        <div class="col-md-6" >
                            <label>  </label>
                            <button  id="btnAnnuler" class=" form-control btn btn-danger ">Annuler</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

        <!-- pannel d'affchage d'analyses --> 
        <div id="pannelList" class="col-md-6 ">
            <div  style="height: 410px ; "  class="panel panel-default">

                <div class="panel-heading" style="font-family: 'Times New Roman' ; font-size: 15px ;"> 
                    <span>Listes des Categories d'Analyses</span>
                    <i  style="color: #3c8dbc;" class="pull-right fa  fa-plus-square fa-lg"></i>
                </div>
                <div class="panel-body ">

                    <table id="myTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th>Description</th>
                                <th>Analyse</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categorie in categories %}
                                <tr>
                                    <td>{{ categorie.libelle }}</td>
                                    <td>{{ categorie.commentaire }}</td>
                                    <td>{{ categorie.analyse }}</td>
                                    <td> 
                                        <a href=""  style="color : red ; " class="fa fa-trash">     </a>
                                        <a href="" style="color : green ; " class="fa  fa-pencil-square">     </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div><!-- /.pannel-->
        </div><!-- /.col-->

    </div><!-- /.row -->

{% endblock content %}



{% block javascripts  %} 

    <script>
        $(document).ready(function () {

            $('.fa-plus-square').tooltipster({
                contentAsHTML: true,
                animation: 'fade',
                content: $('<p>Nouvelle Categorie</p>'),
                delay: 200,
                interactive: true

            });

            $('#panelAjout').hide();
            $("#pannelList").removeClass("col-md-6").addClass("col-md-10");
            $("#pannelList").addClass("col-md-offset-1");

            $('#myTable').dataTable({
                "ordering": false,
                "info": false,
                "dom": '<"toolbar">frtip'


            });
            $("div.toolbar").html('');
            $('.select2').select2();

            $('#btnAnnuler').click(function () {

                $('#panelAjout').hide();
                $("#pannelList").removeClass("col-md-6").addClass("col-md-10");
                $("#pannelList").addClass("col-md-offset-1");
            });

            $('.fa-plus-square').click(function () {

                $('#panelAjout').show();
                $("#pannelList").removeClass("col-md-10").addClass("col-md-6");
                $("#pannelList").removeClass("col-md-offset-1");
            });
        });

    </script>
{% endblock %}
